## Version 2026/02/08 - Changelog: https://github.com/linuxserver/docker-babybuddy/commits/main/root/defaults/nginx/site-confs/default.conf.sample

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    listen 443 quic reuseport default_server;
    listen [::]:443 quic reuseport default_server;

    listen 8000;
    listen [::]:8000;

    server_name _;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    location / {
        proxy_pass http://127.0.0.1:3000;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    location ^~ /media/ {
        root /app/www/public;
    }

    location ^~ /static/ {
        root /app/www/public;
    }

    # deny access to all dotfiles
    location ~ /\. {
        deny all;
        log_not_found off;
        access_log off;
        return 404;
    }

    # Allow access to the ".well-known" directory
    location ^~ /.well-known {
        allow all;
    }
}
